.consultation {
  color: #fff;
  background: linear-gradient(to left, #e6f0fa 50%, $dark-blue 50%);
}

.consultation__inner {
  position: relative;
}

.consultation__title {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 700;
}

.consultation__info {
  position: relative;
  width: 68%;
  padding: 60px 0 70px;
  background-color: $dark-blue;
}

.consultation__text {
  max-width: 755px;
  .text-bold {
    margin: 0 5px;
  }
}

.consultation__record {
  position: relative;
  justify-content: flex-end;
  z-index: 20;
  width: 32%;
  padding-left: 85px;
  background-color: #e5eff9;
  &:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    z-index: -1;
    width: 90px;
    height: 100%;
    background: linear-gradient(to right bottom, $dark-blue 50%, #e5eff9 51%);
  }
}

.consultation__btn {
  margin-top: 45px;
  padding: 15px 30px;
}

@media only screen and (max-width: 996px) {
  .consultation {
    background: $dark-blue;
  }

  .consultation__inner {
    padding-bottom: 100px;
  }

  .consultation__record {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding-left: 0;
    background-color: transparent;
    &::after {
      display: none;
    }
  }

  .consultation__btn {
    margin-top: 0;
  }

  .consultation__info {
    width: 100%;
    padding: 50px 0;
    text-align: center;
  }

  .consultation__text {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 996px) {
  .consultation__title {
    font-size: 31px;
  }
}

@media only screen and (max-width: 376px) {
  .consultation__title {
    font-size: 26px;
  }

  .consultation__info {
    padding-bottom: 30px;
  }

  .consultation__btn {
    margin-top: 45px;
    padding: 12px 22px;
  }
}
